{% extends "layout.html" %}
{% block head %}
<style>
#js-console {
  height: 345px;
  padding: 4px;
  font-family: Menlo, Monaco, "Lucida Console", monospace;
  font-size: 10px;
  line-height: 12px;
  white-space: pre-wrap;
  color: gray;
  background: black;
  overflow: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#js-console.affix {
  position: fixed;
  top: 20px;
  width: 460px;
}

#js-console .exec {
  color: white;
}
</style>
{% endblock %}
{% block title %} - API Demo{% endblock %}
{% block content %}
<h1>Aestimia API Demo Control Panel</h1>

<div class="row">
  <div class="span6">

<h2>API Secret</h2>

<p>All of the functionality on the page is just a front-end to the API. Enter your API secret below, or else nothing on this page will work.</p>

<p><input type="password" id="js-password"></p>
<p>
  <label class="checkbox">
    <input id="js-show-password" type="checkbox"> Show API secret in console
  </label>
</p>

<h2>Mentor List</h2>

<pre id="js-mentors"></pre>

<button id="js-list-mentors" class="btn">Update List</button>

<h2>Update a Mentor</h2>

<textarea class="input-block-level" rows="4" style="font-family: monospace" id="js-update-mentor-json">{
  "email": "foo@bar.org",
  "classifications": ["math"]
}</textarea>

<button class="btn btn-primary" id="js-update-mentor">Update Mentor</button>

<h2>Create a Submission</h2>

<p>Choose a template below, edit it if you like, and then submit it.</p>

<ul class="nav nav-pills" id="submissions">
  {% for submission in submissions %}
  <li><a data-toggle="tab" href="#submission-{{ submission.name }}">{{ submission.name }}</a></li>
  {% endfor %}
</ul>

<div class="tab-content">
  {% for submission in submissions %}
  <div class="tab-pane" id="submission-{{ submission.name }}">
    <form class="js-submission">
      <textarea autocomplete="off" style="font-family: monospace" rows="30" class="input-block-level" name="json">{{ submission.json }}</textarea>
      <input class="btn btn-primary" type="submit" value="Create Submission">
    </form>
  </div>
  {% endfor %}
</div>
</div>
<div class="span6">
  <h2>Console</h2>
  <p>This console shows you what API calls your actions on the left
    column are making.</p>
  <div id="js-console" data-spy="affix" data-offset-top="200"></div>
</div>
</div>
{% endblock %}
{% block scripts %}
<script src="/js/demo.js"></script>
{% endblock %}
