{% extends "layout.html" %}
{% block title %} - Queue{% endblock %}
{% block content %}
<h1 id="title">Welcome {{ email }}!</h1>
<table class="table table-condensed">
  <tr>
    <td>Total submissions reviewed</td>
    <td>{{ stats.reviewed }}</td>
  </tr>
  <tr>
    <td>Total submissions needing assessment</td>
    <td>{{ stats.unreviewed }}</td>
  </tr>
  <tr>
    <td>Submissions reviewed today</td>
    <td>{{ stats.reviewedToday }}</td>
  </tr>
  <tr>
    <td>Submissions created today needing assessment</td>
    <td>{{ stats.unreviewedToday }}</td>
  </tr>
</table>
{% if totalPages %}
  <p>These badges are ready for your review!</p>
  {% include "submission-list.html" %}
{% else %}
  <p>No badges to review right now! Good job mentor team. You deserve a party.</p>
  <img src="http://i.imgur.com/N0Qe0.gif">
{% endif %}
{% endblock %}
