{% extends "layout.html" %}
{% block content %}
<h1>Application for {{ submission.achievement.name }}</h1>
<form method="POST">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}">
  <h2>Rubric</h2>
  {% for rubitem in submission.rubric.items %}
    <label class="checkbox">
      <input type="checkbox" name="rubric_{{loop.index0}}"> {{ rubitem.text }}
      {% if rubitem.required %}
      (<em>required</em>)
      {% endif %}
    </label>
  {% endfor %}
  <h2>Response</h2>
  {% if submission.isLearnerUnderage() %}
    <select class="input-block-level" name="response" autocomplete="off" required>
      <option value="" selected>Select a response&hellip;</option>
      {% for response in submission.cannedResponses %}
      <option value="{{ response }}">{{ response }}</option>
      {% endfor %}
    </select>
  {% else %}
    <textarea class="input-block-level" name="response" required></textarea>
  {% endif %}
  <input type="submit" class="btn btn-primary" value="Submit Assessment">
</form>
{% endblock %}
