{% extends 'layout.html' %}

{% block extra_head %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src='/static/js/submission.js'></script>
<style>
  .badge-not-earned { opacity: 0.5 }
  .badge-earned { }
  ul { list-style: none }
</style>
{% endblock %}

{% block main %}
<h1>{{submission.name}}</h1>

{% if submission.image %}
<img height=180 width=180 class="badge-not-earned" src='{{submission.image}}'>
{% endif %}

{% if submission.description %}
<p>{{submission.description}}</p>
{% endif %}

{% if submission.evidence %}
<h2>Evidence</h2>
<ul>
{% for evidence in submission.evidence %}
<li>{{evidence.url|escape}}: {{evidence.reflection|escape}}</li>
{% endfor %}
</ul>
{% endif %}

{% if submission.rubric %}
<h2>Evaluation</h2>
<ul id="{{submission._id}}">
{% for item in submission.rubric.items %}
<li id="{{item._id}}" class="rubric-item">
  {{item.text}}
  <input class="evaluation-checkbox" type="checkbox">
</li>
{% endfor %}
</ul>
{% endif %}

<p>
  <button class="btn btn-large btn-primary" type="button">Finish Evaluation</button>
</p>

{% endblock %}
