{% for submission in submissions %}
<div class="row well well-small">
  <div class="span3">
    {% include "badge.html" %}
  </div>
  <div class="span8">
    <h4>
      {% if submission.isLearnerUnderage() %}
        An underage learner
      {% else %}
        {{ submission.learner }} {% if not submission.isReviewed() %}applied for{% else %}{% if submission.isAwarded() %}earned {% else %}has not yet earned {% endif %}{% endif %} the {{submission.achievement.name}}
      {% endif %}
    </h4>
    <p>
        {{submission.achievement.description}}
    </p>
    <p><small class="muted">Application submitted {{ submission.creationDate|timeago }}.</small></p>
    <p>
      {% for classification in submission.classifications %}
      <span class="label">{{ classification }}</span>
      {% endfor %}
      {% set assignee = submission.getAssignee() %}
      {% set isSomeoneElseAssignee = (assignee and assignee != email) %}
      <a href="/submissions/{{ submission._id }}"
        {% if submission.isReviewed() or isSomeoneElseAssignee %}
          class="btn pull-right">View
        {% else %}
          class="btn btn-primary pull-right">Review
        {% endif %}
      </a>
      {% if (not submission.isReviewed()) and assignee %}
      <p>
      This is assigned to
      {% if isSomeoneElseAssignee %}
      {{ assignee }}.
      {% else %}
      you.
      {% endif %}
      </p>
      {% endif %}
    </p>
  </div>
</div>
{% endfor %}
<ul class="pager">
  {% if prevPage %}
    <li><a href="{{prevPage}}">Previous</a></li>
  {% endif %}
  {% if nextPage %}
    <li><a href="{{nextPage}}">Next</a></li>
  {% endif %}
</ul>
