{% for submission in submissions %}
<div class="row well well-small">
  <div class="span3">
    {% include "badge.html" %}
  </div>
  <div class="span8">
    <h4>
      {% if submission.isLearnerUnderage() %}
        An underage learner
      {% else %}
        {{ submission.learner }}
      {% endif %}
    </h4>
    <p><small class="muted">Application submitted {{ submission.creationDate }}.</small></p>
    <p>
      {% for classification in submission.classifications %}
      <span class="label">{{ classification }}</span>
      {% endfor %}
      <a href="/submissions/{{ submission._id }}" 
        {% if submission.isReviewed() %}
          class="btn pull-right">View
        {% else %}
          class="btn btn-primary pull-right">Review
        {% endif %}
      </a>
    </p>
  </div>
</div>
{% endfor %}
