{% extends "base-layout.html" %}
{% block theme_head %}
<link rel="stylesheet" href="{{ THEME_ROOT }}css/csol.css">
{% endblock %}
{% block theme_footer %}
<div class="wrapper secondary footer">
    <div class="inner-wrapper">
        <div class="container">
            <div class="upper clearfix">
                <p class="pull-left" id="rahm">"Because we are making the right choices today, every child in Chicago has a better chance at a brighter future tomorrow."<br><span style="margin-top:5px;display:block; text-align:right;">–Mayor Rahm Emanuel</span></p>
                <ul class="pull-left" id="logos">
                    <li><a class="logo moz" href="http://openbadges.org" target=_blank>Mozilla</a></li>
                    <li><a class="logo chi" href="http://www.cityofchicago.org" target=_blank>City of Chicago</a></li>
                    <li><a class="logo mac" href="http://macfound.org" target=_blank>MacArthur Foundation</a></li>
                </ul>
                <div class="pull-right" id="bubbles"><span class="lt">Join the conversation on <a href="https://www.facebook.com/ChicagoSummerOfLearning" target="_blank">Facebook</a>.</span><span class="rt">Share stories on <a href="http://twitter.com/csol2013" target="_blank&quot;">Twitter.</a></span></div>
            </div>
            <div class="lower clearfix">
                <ul class="pull-left">
                    <li><a href="mailto:support@chicagosummeroflearning.org">support@chicagosummeroflearning.org</a></li>
                    <li><span>&copy; 2013</span></li>
                </ul>
                <!--
                <ul class="pull-right">
                    <li><a href="/about">About</a></li>
                    <li><a href="/terms">Terms</a></li>
                    <li><a href="/privacy">Privacy</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="http://assess.chicagosummeroflearning.org">Mentors</a></li>
                    <li><a href="http://badge.chicagosummeroflearning.org">Organizations</a></li>
                </ul>
                -->
            </div>
        </div>
    </div>
</div>

<script src="{{ THEME_ROOT }}js/csol.js"></script>
{% endblock %}
