{% extends "layout.html" %}
{% block content %}
<br>
<div class="hero-unit">
    <h1>Welcome mentors!</h1>
    <p>We appreciate your work in evaluating applications. You can get started here:</p>
    <p><button class="btn btn-primary btn-large js-login">Login</button></p>
    <p>The Chicago Summer of Learning wouldn't be possible without your contributions. Your assessment efforts play a critical role for youth who are participating across the city. Thank you for helping them explore and earn badges.</p>
</div>
{% endblock %}
